.layout {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 50px;

    .content-area {
        transition: all 0.3s ease-in-out;
        padding: 4px;
        width: 100%;
        flex-wrap: nowrap;
        position: relative;

        .l-arrow {
            position: fixed;
            top: 48px;
            z-index: 1;

            .l-toggal-arrow {
                color: #efebfb;
                position: absolute;
                top: 5px;
                right: -28px;

                span {
                    svg {
                        background-color: #7f56d9;
                        cursor: pointer;
                        border-radius: 2px;
                    }
                }
            }

            .l-sidebar {
                @extend .sidebar;
            }
        }

        .content {
            margin-top: 30px;
            max-height: fit-content;
            min-height: 100vh;
            margin-bottom: 10%;
            padding: 0px 30px;
        }

        .r-arrow {
            position: fixed;
            top: 52px;
            right: 0px;

            .r-toggal-arrow {
                color: #efebfb;
                position: absolute;
                left: -28px;
                top: 0px;

                span {
                    svg {
                        background-color: #7f56d9;
                        cursor: pointer;
                        border-radius: 2px;
                    }
                }
            }

            .r-sidebar {
                border-left: 1px solid rgba(127, 86, 217, 0.5294117647);
                border-bottom: 1px solid rgba(127, 86, 217, 0.5294117647);
                border-top: 1px solid rgba(127, 86, 217, 0.5294117647);
                border-right: none !important;
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
                overflow-y: auto !important;
                @extend .sidebar;
            }
        }
    }
}

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
    color: #efebfb;
    cursor: pointer;
    background-color: #7f56d9;
    border-radius: 4px;
    width: 26px;
    border: none;
    height: 26px;

    &:hover {
        background-color: #703edd;
        color: #fafafa;
    }

    mat-icon {
        font-size: 24px;
    }
}

.show-scroll {
    opacity: 1;
}

.sidebar {
    transition: all 0.3s ease-in-out;
    background-color: #efebfb;
    border-right: 1px solid rgba(127, 86, 217, 0.5294117647);
    padding: 4px;
    overflow-y: scroll;
    max-height: 92vh;
    width: 200px;
}