.post_detail {
    display: flex;
    justify-content: center;
    margin-top: 100px;

    .post-data {
        padding: 0px 6% 0px 12%;
        width: 76%;

        .heading {
            h1 {
                color: #06241B;
                padding: 4px 0px;
                font-size: 24px;
                font-weight: 600;
                margin: 0px;
            }

            .auth-time {
                display: flex;
                align-items: center;

                .auth {
                    display: flex;
                    align-items: center;
                    margin-right: 4px;

                    .img {
                        width: 40px;
                        height: 40px;
                        object-fit: fill;
                        border-radius: 50%;
                    }

                    .name {
                        border-right: 2px solid #7f56d98c;
                        padding: 0px 4px 0px 0px;
                        font-size: 12px;
                        font-weight: 500;
                        color: #06241B;
                    }
                }

                .time {
                    display: flex;
                    align-items: center;

                    mat-icon {
                        width: 16px;
                        height: 16px;
                        font-size: 16px;
                        color: inherit;
                    }

                    .time {
                        padding: 0px 0px 0px 4px;
                        font-size: 12px;
                        font-weight: 500;
                        color: #06241B;
                    }

                }
            }
        }

        .post-image {
            max-width: 100%;
            min-width: 100%;
            height: max-content;
            margin: 10px 0px;

            border: 1px solid #7f56d966;
            border-radius: 10px;
            padding: 4px;
            box-shadow: inset 0px 0px 10px 4px rgba(228, 228, 255, 1);

            img {
                width: 100%;
                height: auto;
                object-fit: fill;
                border-radius: 10px;
                max-height: 450px;
            }
        }

        .description {
            p {
                color: #06241B;
                padding: 4px 0px;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 30px;
            }
        }

        .not_found {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30%;

            p {
                color: #06241B;
                padding: 4px 0px;
                font-size: 16px;
                font-weight: 600;
                margin: 4px 18px;
            }

            .go-home {
                background: transparent;
                font: inherit;
                border: 1px solid #6558d3;
                color: #6558d3;
                padding: 6px 12px;
                border-radius: 6px;
                font-weight: 500;
                transition: all ease 0.5s;
                margin: 0px 12px;
                cursor: pointer;

                &:hover {
                    background: #6558d3;
                    color: #ffffff;
                    border-color: #ffffff;
                }
            }
        }


    }

    .post-meta {
        margin-right: 2%;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        width: 24%;

        .category {
            background-color: #e4e4ff;
            padding: 16px 20px;
            border-radius: 10px;
            margin-bottom: 20px;

            h2 {
                font-size: 20px;
                font-weight: 600;
                color: #06241B;

                span {
                    color: #7F56D9;
                }
            }

            ul {
                list-style: none;
                text-decoration: none;
                display: flex;
                flex-wrap: wrap;

                li {
                    padding: 2px 6px;
                    border-radius: 4px;
                    border: 1px solid #7E7EAA;
                    margin: 2px 4px;

                    a {
                        padding: 1px 0px;
                        position: relative;
                        color: #7E7EAA;
                        font-size: 16px;
                        font-weight: 500;
                        text-decoration: none;

                        &:hover {
                            color: #EF670D;

                            &::after {
                                width: 100%;
                                opacity: 1;
                            }
                        }

                        &::after {
                            bottom: 0px;
                            content: "";
                            display: block;
                            height: 1px;
                            left: 0;
                            position: absolute;
                            background: #EF670D;
                            transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
                            width: 0;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }

        .popular {
            background-color: #e4e4ff;
            border-radius: 10px;
            padding: 16px 20px;

            h2 {
                font-size: 20px;
                font-weight: 600;
                color: #06241B;

                span {
                    color: #7F56D9;
                }
            }
        }

    }
}

:host::ng-deep {
    post-list {
        .card-list {
            padding: 0px;
            margin-bottom: 0%;
        }
    }
}


@media (min-width:0px) and (max-width:320px) {
    .post_detail {
        .post-data {
            padding: 0px 4%;
            width: 100%;
        }

        .post-meta {
            display: none;
        }
    }
}

@media (min-width:320px) and (max-width:425px) {
    .post_detail {
        .post-data {
            padding: 0px 4%;
            width: 100%;
        }

        .post-meta {
            display: none;
        }
    }
}

@media (min-width:425px) and (max-width:768px) {
    .post_detail {
        .post-data {
            padding: 0px 4%;
            width: 100%;
        }

        .post-meta {
            display: none;
        }
    }
}

@media (min-width:768px) and (max-width:991px) {
    .post_detail {
        .post-data {
            padding: 0px 4% 0px 2%;
            width: 60%;
        }

        .post-meta {
            width: 40%;
        }
    }
}

@media (min-width:991px) and (max-width:1200px) {
    .post_detail {
        .post-data {
            padding: 0px 6% 0px 6%;
            width: 70%;
        }

        .post-meta {
            width: 30%;
        }
    }
}