footer {
    background-color: #865AEF;
    padding: 2rem 6% 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    .footer-section {
        .content {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #d7c7ff;
            margin-bottom: 10px;
            padding-bottom: 10px;
            .about {
                width: 50%;

                .logo {
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    margin-bottom: 1rem;

                    img {
                        width: 48px;
                        height: 28px;
                        margin-right: 6px;
                    }

                    span {
                        font-size: 30px;
                        font-weight: 600;
                        line-height: 35px;
                        color: #ffffff;
                    }
                }

                .discription {
                    color: #ffffff;
                }
            }

            .links {
                width: 25%;

                h2 {
                    font-size: 20px;
                    color: #ffffff;
                    font-weight: 500;
                    margin-bottom: 6px;
                }

                ul {
                    margin: 0px;
                    padding: 0px 4px;
                    list-style: none;
                    font-size: 14px;
                    color: #ffffff;
                    font-weight: 500;

                    li {
                        cursor: pointer;
                        padding: 4px 0px;
                        width: fit-content;
                        display: flex;
                        align-items: center;
                    }
                }
            }

            .contact {
                ul {
                    li {
                        cursor: auto;

                        span {
                            margin-left: 4px;
                            word-break: break-word;
                        }
                    }
                }

                @extend .links;
            }
        }

        .footer {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .copyright {
                p {
                    color: #ffffff;
                    margin: 0px;
                }
            }

            .social {
                ul {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    list-style: none;
                    margin: 0px;
                    padding: 0px;

                    svg {
                        width: 18px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}