<div class="javascript-interviews">
    <div class="content-list">
        <div class="questions">
            <h1>Pattern printing and numbers!</h1>
        </div>
        <div class="answers">
            <ol>
                <li>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Example:</b>
                            <prismcode [code]="code111" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code112" language="javascript"></prismcode>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Example:</b>
                            <prismcode [code]="code113" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code114" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Example:</b>
                            <prismcode [code]="code115" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code116" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Example:</b>
                            <prismcode [code]="code117" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code118" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Example:</b>
                            <prismcode [code]="code119" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code120" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Example:</b>
                            <prismcode [code]="code121" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code122" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Example:</b>
                            <prismcode [code]="code127" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code128" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Example:</b>
                            <prismcode [code]="code129" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code130" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Example:</b>
                            <prismcode [code]="code123" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code124" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Example:</b>
                            <prismcode [code]="code125" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code126" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Example:</b>
                            <prismcode [code]="code131" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code132" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Example:</b>
                            <prismcode [code]="code133" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code134" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Example:</b>
                            <prismcode [code]="code135" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code136" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Example:</b>
                            <prismcode [code]="code137" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code138" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Fibonacci Sequence: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ...</b>
                            <prismcode [code]="code139" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code140" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Powers of 2: 1, 2, 4, 8, 16, 32, 64, 128, 256, 512, ...</b>
                            <prismcode [code]="code141" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code142" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Triangular Numbers: 1, 3, 6, 10, 15, 21, 28, 36, 45, 55, ...</b>
                            <prismcode [code]="code143" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code144" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Prime Numbers: 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, ...</b>
                            <prismcode [code]="code145" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code146" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Square Numbers: 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, ...</b>
                            <prismcode [code]="code147" language="javascript"></prismcode>
                            <b>Output:</b>
                            <prismcode [code]="code148" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Reverse String</b>
                            <prismcode [code]="code188" language="javascript"></prismcode>
                        </li>
                    </ul>
                    <ul style="margin-left: 16px;">
                        <li>
                            <b>Palindrome Number</b>
                            <prismcode [code]="code189" language="javascript"></prismcode>
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>