.not-found {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;

    .text404 {
        position: absolute;
        font-size: 20rem;
        opacity: 0.1;
        color: #7f56d9b8;
        z-index: -1;
    }

    .title {
        font-size: 40px;
        font-weight: 700;
        color: #06241B;
    }

    .discription {
        color: #7E7EAA;
        font-size: 16px;
        font-weight: 500;
    }

    .action {
        .go-back {
            background: transparent;
            font: inherit;
            border: 1px solid #6558d3;
            color: #6558d3;
            padding: 6px 12px;
            border-radius: 6px;
            font-weight: 500;
            transition: all ease 0.5s;
            margin: 0px 12px;
            cursor: pointer;

            &:hover {
                background: #6558d3;
                color: #ffffff;
                border-color: #ffffff;
            }
        }

        .go-home {
            @extend .go-back;
        }
    }


}