<div class="javascript-interviews">
    <h1>Javascript output based questions!</h1>

    <div class="questions">
        <h1>What is the output of below code?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code1" language="javascript"></prismcode>
        <ol>
            <li>Undefined</li>
            <li>ReferenceError</li>
            <li>null</li>
            <li>&#123; model: "Honda", color: "white", year: "2010", country: "UK" &#125;</li>
        </ol>
        <p><b>Answer: </b>4</p>
    </div>

    <div class="questions">
        <h1>What is the output of below code?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code2" language="javascript"></prismcode>
        <ol>
            <li>1, undefined and undefined</li>
            <li>ReferenceError: X is not defined</li>
            <li>1, undefined and number</li>
            <li>1, number and number</li>
        </ol>
        <p><b>Answer: </b>3</p>
    </div>

    <div class="questions">
        <h1>What is the output of below code?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code3" language="javascript"></prismcode>
        <ol>
            <li>A, B and C</li>
            <li>B, A and C</li>
            <li>A and C</li>
            <li>A, C and B</li>
        </ol>
        <p><b>Answer: </b>4</p>
    </div>

    <div class="questions">
        <h1>What is the output of below code?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code4" language="javascript"></prismcode>
        <ol>
            <li>false</li>
            <li>true</li>
        </ol>
        <p><b>Answer: </b>1</p>
    </div>

    <div class="questions">
        <h1>What is the output of below code?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code5" language="javascript"></prismcode>
        <ol>
            <li>1function</li>
            <li>1object</li>
            <li>ReferenceError</li>
            <li>1undefined</li>
        </ol>
        <p><b>Answer: </b>4</p>
    </div>

    <div class="questions">
        <h1>What is the output of below code?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code6" language="javascript"></prismcode>
        <ol>
            <li>Hello World</li>
            <li>Object &#123; message: "Hello World" &#123;</li>
            <li>Undefined</li>
            <li>SyntaxError</li>
        </ol>
        <p><b>Answer: </b>3</p>
    </div>

    <div class="questions">
        <h1>What is the output of below code?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code7" language="javascript"></prismcode>
        <ol>
            <li>[empty, 'b', 'c', 'd'], empty, 3</li>
            <li> [null, 'b', 'c', 'd'], empty, 3</li>
            <li>[empty, 'b', 'c', 'd'], undefined, 4</li>
            <li> [null, 'b', 'c', 'd'], undefined, 4</li>
        </ol>
        <p><b>Answer: </b>3</p>
    </div>

    <div class="questions">
        <h1>What is the output of below code?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code8" language="javascript"></prismcode>
        <ol>
            <li>[undefined × 3], [undefined × 2, 100], [undefined × 3]</li>
            <li>[empty × 3], [empty × 2, 100], [empty × 3]</li>
            <li>[null × 3], [null × 2, 100], [null × 3]</li>
            <li>[], [100], []</li>
        </ol>
        <p><b>Answer: </b>2</p>
    </div>

    <div class="questions">
        <h1>What is the output of below code?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code9" language="javascript"></prismcode>
        <ol>
            <li>0, 1, 2</li>
            <li>0, &#123; return 1 &#125;, 2</li>
            <li>0, &#123; return 1 &#125;, &#123; return 2 &#125;</li>
            <li>0, 1, undefined</li>
        </ol>
        <p><b>Answer: </b>1</p>
    </div>

    <div class="questions">
        <h1>What is the output of below code?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code10" language="javascript"></prismcode>
        <ol>
            <li>true, true</li>
            <li>true, false</li>
            <li>SyntaxError, SyntaxError,</li>
            <li>false, false</li>
        </ol>
        <p><b>Answer: </b>2</p>
    </div>

    <div class="questions">
        <h1>What is the output of below code in non-strict mode?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li>1, 2, 3</li>
            <li>3, 2, 3</li>
            <li>SyntaxError: Duplicate parameter name not allowed in this context</li>
            <li>1, 2, 1</li>
        </ol>
        <p><b>Answer: </b>2</p>
    </div>

    <div class="questions">
        <h1>What is the output of below code?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code12" language="javascript"></prismcode>
        <ol>
            <li>ReferenceError: arguments is not defined</li>
            <li>3</li>
            <li>undefined</li>
            <li>null</li>
        </ol>
        <p><b>Answer: </b>1</p>
    </div>

    <div class="questions">
        <h1>What is the output of below code?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code13" language="javascript"></prismcode>
        <ol>
            <li>True, False</li>
            <li>False, True</li>
        </ol>
        <p><b>Answer: </b>2</p>
    </div>

    <div class="questions">
        <h1>What is the output of below code?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code14" language="javascript"></prismcode>
        <ol>
            <li>undefined</li>
            <li>Infinity</li>
            <li>0</li>
            <li>-Infinity</li>
        </ol>
        <p><b>Answer: </b>4</p>
    </div>

    <div class="questions">
        <h1>What is the output of below code?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code15" language="javascript"></prismcode>
        <ol>
            <li>True, True</li>
            <li> True, False</li>
            <li>False, False</li>
            <li>False, True</li>
        </ol>
        <p><b>Answer: </b>1</p>
    </div>

    <div class="questions">
        <h1>What is the output of below code?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code16" language="javascript"></prismcode>
        <ol>
            <li>20, 0</li>
            <li>1010, 0</li>
            <li>1010, 10-10</li>
            <li>NaN, NaN</li>
        </ol>
        <p><b>Answer: </b>2</p>
    </div>

    <div class="questions">
        <h1>What is the output of below code?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code17" language="javascript"></prismcode>
        <ol>
            <li>True, I'm True</li>
            <li>True, I'm False</li>
            <li>False, I'm True</li>
            <li>False, I'm False</li>
        </ol>
        <p><b>Answer: </b>1</p>
    </div>

    <div class="questions">
        <h1>What is the output of below code?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code18" language="javascript"></prismcode>
        <ol>
            <li>[1,2,3,4]</li>
            <li>[1,2][3,4]</li>
            <li>SyntaxError</li>
            <li>1,23,4</li>
        </ol>
        <p><b>Answer: </b>4</p>
    </div>

    <div class="questions">
        <h1>What is the output of below code?</h1>
    </div>
    <div class="answers">
        <prismcode [code]="code19" language="javascript"></prismcode>
        <ol>
            <li>&#123; 1, 2, 3, 4 &#125;, &#123; "F", "i", "r", "e", "f", "o", "x" &#125;</li>
            <li>&#123; 1, 2, 3, 4 &#125;, &#123; "F", "i", "r", "e", "o", "x" &#125;</li>
            <li>[1, 2, 3, 4], ["F", "i", "r", "e", "o", "x"]</li>
            <li>&#123; 1, 1, 2, 3, 4 &#125;, &#123; "F", "i", "r", "e", "f", "o", "x" &#125;</li>
        </ol>
        <p><b>Answer: </b>1</p>
    </div>
    
    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>
    
    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>
    
    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>
    
    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>
    
    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>
    
    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>
    
    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>
    
    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>
    
    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>
    
    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>
    
    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>
    
    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>
    
    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>
    
    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>
    
    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>
    
    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>

    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>
    
    <div class="questions">
        <h1></h1>
    </div>
    <div class="answers">
        <prismcode [code]="code11" language="javascript"></prismcode>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <p><b>Answer: </b></p>
    </div>
</div>